
.inner{width: 1200px;margin: auto;position: relative;}
.hidden{display: none;}

/* header 영역*/
header{
  width: 100%;
  height: 160px;
  position: fixed;
  z-index: 11;
}
header .head-fixed{
  width: 1200px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  margin: 80px auto 0;
}
header .head-fixed h1{
  margin-left: 50px;
  position: relative;
  z-index: 11;
}
header .head-fixed nav ul{
  display: flex;
  margin-top: 10px;
  position: relative;
  z-index: 11;
}
header .head-fixed nav ul li a{
  padding: 020px;
  transition: all 0.4s;
  font-size: 20px;
  text-shadow: 1px 1px 1px #999;
}
header .head-fixed nav ul li:hover a{
  color: rgba(255,255,255,0.5);
}


/* 유튜브 영역 */
.youtube{
  position: relative;
  width: 100%;
  height: 920px;
  overflow: hidden;
  z-index: 9;
}
.youtube .youtube__area{
  width: 1920px;
  position: absolute;

  /* 가운데 정렬 방법 */
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before{
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube .youtube__area #player{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* 유튜뷰 클릭 방지 */
.guard{
  width: 100%;
  height: 920px;
  position: absolute;
  top: 0;
  opacity: 1;
  z-index: 10;
}

/* promotion Swiper slide */
.promotion{width: 100%;height: 1070px;position: relative;transition: height 0.4s;margin: auto;margin-top: 50px;}

.promotion .swiper{
  width: calc(550px * 3 + 20px);
  height: 1028px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((550px * 3 + 20px) / -2); /*가운데정렬*/
}
.promotion .swiper .swiper-wrapper{
  width: 1670px;
  display: flex;
}
.promotion .swiper .swiper-wrapper h2{position: absolute;z-index: 12;left: 0px;top: 0px;font-weight: bold;font-size: 30px;}
.promotion .swiper .swiper-slide{opacity: 0.5;transition: opacity 1s;position: relative;padding-top: 60px;}
.promotion .swiper .swiper-slide-active{opacity: 1;}
.promotion .swiper .swiper-slide a{position: absolute;bottom: 170px;left: 190px;right: 0;margin: auto;font-size: 30px;font-weight: bold;}
.promotion .swiper .swiper-slide p{position: absolute;bottom: 60px;left: 0;right: 0;margin: auto;text-align: center;font-size: 20px;}

/* 스와이퍼 방향 버튼 */
.promotion .swiper .swiper-pagination-bullet{
  background:transparent url(../images/promotion_slide_pager.png);
  width: 13px;height: 13px;outline: none;background-size: contain;
}
.promotion .swiper .swiper-pagination-bullet-active{
  background: url(../images/promotion_slide_pager_on.png);
}

.promotion .swiper .swiper-prev,
.promotion .swiper .swiper-next{
  width: 100px;height: 100px;outline: none;
  position: absolute;top: 380px;z-index: 12;cursor: pointer;display: flex;justify-content: center;align-items: center;  z-index: 100;
}
.promotion .swiper .swiper-prev{left: 50%;margin-left: -270px;background: url(../images/promotion_slide_pager.png) no-repeat;}
.promotion .swiper .swiper-next{right: 50%;margin-right: -300px;background: url(../images/promotion_slide_pager_on.png) no-repeat;}
.promotion .swiper .swiper-prev img:hover,
.promotion .swiper .swiper-next img:hover{
  color: #fff;
}

/* hr{
  width: 100%;
  height: 5px;
  border-width: 25px;
  background: chartreuse;
  position: absolute;
  z-index: 20;
} */


/* main visual area-------------------------- */
.animate{margin-top: 100px;}
.animate .inner{height: 775px;}
.animate .inner .img-box p{font-weight: bold;font-size: 25px;}
.animate .inner .img-box .cup1.p1{position: absolute;top: -10px;left: -25px;}
.animate .inner .img-box .cup1.p2{position: absolute;top: -10px;left: 270px;}
.animate .inner .img-box .cup1.image1{position: absolute;top: 30px;left: -70px;}
.animate .inner .img-box .cup1.image2{position: absolute;top: 30px;left: 250px;}
.animate .inner .img-box .cup1.text{position: absolute;top: 220px;left: 250px;}
.animate .inner .img-box .cup2.p1{position: absolute;top: -10px;right: 340px;}
.animate .inner .img-box .cup2.p2{position: absolute;top: -10px;right: -20px;}
.animate .inner .img-box .cup2.image1{position: absolute;top: 30px;right: 300px;}
.animate .inner .img-box .cup2.image2{position: absolute;top: 30px;right: -40px;}
.animate .inner .img-box .cup2.text{position: absolute;top: 220px;right: -70px;}
.animate .inner .img-box .cup3.p1{position: absolute;top: 360px;left: 160px;}
.animate .inner .img-box .cup3.image1{position: absolute;top: 370px;left: -70px;}
.animate .inner .img-box .cup3.image2{position: absolute;top: 400px;left: 210px;}
.animate .inner .img-box .cup4.p1{position: absolute;top: 360px;right: 130px;}
.animate .inner .img-box .cup4.image1{position: absolute;top: 400px;right: 320px;}
.animate .inner .img-box .cup4.image2{position: absolute;top: 400px;right: 110px;}
.animate .inner .img-box .cup4.image3{position: absolute;top: 430px;right: -80px;}

.animate .fade-in{opacity: 0;}



/* scroll Magic으로 연결할 CSS----------------------------------------------- */
/* 맨처음 브라우저 로딩시 안보이게 설정 */
.back-to-position{
  opacity: 0;
  transition: all 2s;
}
/* show가 추가가되면 실행할 모션-------------- */
.show .back-to-position{opacity: 1;transform: translateX(0);}
.show .back-to-position.delay-0{transition-delay: 0;}
.show .back-to-position.delay-1{transition-delay: 0.3s;}
.show .back-to-position.delay-2{transition-delay: 0.6s;}
.show .back-to-position.delay-3{transition-delay: 0.9s;}



/* swiper2 area */
.cody-choice{
  width: 100%;
  height: 665px;
  position: relative;
  display: flex;
  justify-content: center;
  transition: height 0.4s;
}
.cody-choice h2{
  position: absolute;
  font-size: 40px;
  top: -90px;
}
.cody-choice .girl{
  width: 900px;
  height: 665px;
  padding: 15px;
  margin-top: 30px;
}
.cody-choice .girl img{
  height: 450px;
  padding: 30px;
  overflow: hidden;
}

.cody-choice .man{
  width: 900px;
  height: 665px;
  padding: 15px;
  margin-top: 30px;
}
.cody-choice .man img{
  height: 450px;
  padding: 30px;
  overflow: hidden;
}

.cody-choice .swiper .swiper-slide{opacity: 0.5;transition: opacity 1s;position: relative;}
.cody-choice .swiper .swiper-slide-active{opacity: 1;}





/* more section area */
.more-section{
  width: 100%;
  padding: 0 20px;
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.more-section h2{
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: -140px;
}
.more-section .more-wrap{
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: center;
}
.more-section .more-wrap div{
  width: 300px;
  margin-top: -100px;
}
.hide{
  display: none;
}
.more-section .more-wrap div img{
  width: 100%;
}
.more-section #moreBtn{
  width: 100px;
  height: 50px;
  margin-top: 50px;
  border: none;
  outline: none;
  background: #886baa;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}


/* foot area */
footer{
  width: 100%;
  background: #d8d8d8;
}
footer .foot-wrap{
  width: 1000px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .foot-wrap h2{
  width: 800px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

footer .foot-wrap .foot-nav1{
  margin-top: -30px;
}
footer .foot-wrap .foot-nav1 ul{
  display: flex;
}
footer .foot-wrap .foot-nav1 ul li a img{
  padding: 0 5px;
}

footer .foot-wrap .foot-nav2 ul{
  display: flex;
}
footer .foot-wrap .foot-nav2 ul li{padding: 0 5px;}
footer .foot-wrap .foot-nav2 ul li::before{content: "ㅣ ";color: #666;}
footer .foot-wrap .foot-nav2 ul li:first-child::before{content: "";}
footer .foot-wrap address{font-weight: bold;font-size: 25px;}

/* 탑버튼 */
#to-top{
  position: fixed;
  right: 20px;
  bottom: 30px;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #333;
  z-index: 15;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
